.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    width: 50px;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .isLightVariant {
    color: #f1f1f1;
  }
}
