nav {
  .navbarDesktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li {
      padding: 10px;
      margin: 15px 20px;
      font-weight: bold;
      cursor: pointer;
    }

    a {
      color: black;
      opacity: 0.8;
      display: inline-block;
      padding: 15px 20px;
      margin: 10px 10px;
      font-size: 1.5rem;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        opacity: 1;
      }
    }

    .isCurrentPage a {
      color: var(--secondary-color-purple);
    }
  }
}
